################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Titled/CopilotIndices/17.14.734.62261
/.vs/Titled/FileContentIndex
/.vs/Titled/v17
/.vs
